.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: azure;
}

.container {
  width: 350px;
  height: 480px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5em;
  border: none;
  background-color: #5d5d61;
  color: #ffffff;
  font-size: large;
  cursor: pointer;
}

.btn:hover {
  background-color: #000000;
}

ul {
  padding-inline-start: 0;
}

ul li {
  list-style: none;
}

.img {
  width: 200px;
  height: 150px;
  padding: 0.5em;
}

.dish {
  margin: 1rem;
  border: 2px solid black;
  box-shadow: 2px 2px 2px #2b5757;
  padding: 1rem;
  border-radius: 1rem;
  display: inline-block;
}

footer {
  text-align: right;
}

footer strong {
  color: mediumblue;
}
